body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-size: cover;
    background-color: black;
    color: white;
}
.header1 {
    font-size: 2em;
    font-style: italic;
    color: white;
    text-align: center;
    background-color: black;
    padding: 10px;
    margin: 0;
}
.navbar1 {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 0;
    display: inline-block;
}
.navbarl{
    display:inline-block;
}


