body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    margin: 0.5em 0 0;
    font-size: 1.2em;
}

nav {
    background-color: #444;
    text-align: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
}

main {
    max-width: 800px;
    margin: 2em auto;
    padding: 0 1em;
}

section {
    margin-bottom: 2em;
}

h2 {
    color: #444;
    border-bottom: 2px solid #444;
    padding-bottom: 0.5em;
}

a.button {
    display: inline-block;
    padding: 0.5em 1em;
    margin: 1em 0;
    background-color: #444;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

a.button:hover {
    background-color: #555;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.skill-bar {
    width: 100%;
    background-color:black;
    margin: 10px 0;
}

.skill-level {
    height: 25px;
    background-color: #444;
    width: 0;
    transition: width 2s;
}
.form-group {
    width: 100%;
    background-color:black;
    margin: 10px 0;
    display:block;
}
form[name="form-group"] label,
form[name="form-group"] input,
form[name="form-group"] textarea,
form[name="form-group"] button {
    display: block;
    margin-bottom: 10px;
}
body.dark-theme {
    background-color:palegreen;
    color: #fff;
}
nav.dark-theme {
    background-color: red;
}
nav.dark-theme ul li a {
    color: #fff;
}
footer.dark-theme {
    background-color: #555;
}
